body {
	background-color: #333333;
}

#title {
	color: white;
	text-align: center;
}

table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  font-family: "Segoe UI";
  font-size: 5px;
}

th, td {
  padding: 1px;
  color: white;
  text-align: center;
}